.errors-material {
  color: #ff0000;
  font-size: 12px;
}

.signup-size {
  height: 115vh !important;
}

.sign-w {
  max-width: 650px !important;
}

.navbar-sidebar .navbar__list li > a.router-link-active {
  color: #4272d7 !important;
}

.fm-body {
  display: none;
  position: fixed;
  z-index: 1055;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(194, 194, 194, 0.356);
}

.fm-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  color: darkgrey;
  border: 1px solid #888;
  width: 30%;
}

.hidden {
  display: none !important;
}

.menu-img {
  justify-content: space-between;
  display: flex;
}
.menu-img .m-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid rgba(37, 37, 37, 0.15);
  margin: 0 auto;
}

.img-sm {
  width: 88px !important;
  height: 88px !important;
  border: 2px solid rgba(37, 37, 37, 0.15) !important;
}

.menu-img-lg {
  justify-content: space-between;
  display: flex;
}
.menu-img-lg .m-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid rgba(37, 37, 37, 0.15);
  margin: 0 auto;
}

.m-top {
  margin-top: 6rem !important;
}

.btn-sm-table {
  padding: 5px 10px !important;
}

.product-shadow {
  box-shadow: 0 0.15rem 0.2rem 0 rgba(0, 0, 0, 0.1) !important;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.btn-qty {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-wt {
  width: 60px !important;
}

.bg-orange {
  background: #ffb03b !important;
  color: #ffffff !important;
}

.router-link-exact-active {
  color: #ffb03b !important;
}
